@model Examen.Entidades.DatosPersonas
@{
    ViewBag.Title = "Home Page";
}


@using(Html.BeginForm("Save", "", FormMethod.Post, new { id = "signupform" }))
{
@Html.AntiForgeryToken()
<h4>Crear Persona</h4>
<hr />

<div class="form-group">
    @Html.LabelFor(model => model.Nombre, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>
</div>
<br /> <br /> <br />
<div class="form-group">
    @Html.LabelFor(model => model.aPaterno, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.aPaterno, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.aPaterno, "", new { @class = "text-danger" })
    </div>
</div>
<br /> <br />
<div class="form-group">
    @Html.LabelFor(model => model.aMaterno, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.aMaterno, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.aMaterno, "", new { @class = "text-danger" })
    </div>
</div>
<br /> <br />
<div class="form-group">
    @Html.LabelFor(model => model.curp, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.curp, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.curp, "", new { @class = "text-danger" })
    </div>
</div>
<br />
}

<button type="button" class="btn btn-primary" id="button1">Guardar</button>
<script>
    $("#button1").click(function () {
        $("#signupform").submit();
    });
</script>


<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>

<script src="~/Scripts/jquery.validate.js"></script>


